<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Expressionary</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/developer">Developer's Updates</a></li>
			<li><a href="/random">Random Word</a></li>
		</ul>

	</div>
	<div class ="container-fluid">
		<div class="col-md-3">
			<form class="navbar-form" role="search">
				<div class="input-group add-on">
					<input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
					<button class="btn btn-default" type="submit">Search <i class="glyphicon glyphicon-search"></i></button>

				</div>

		</div>

			<input type="radio" id="searchUser" name="search" value="User">
			<label for="searchUser">User</label>
			<input type="radio" id="searchWord" name="search" value="Word">
			<label for="searchWord">Word</label>
		</form>
	</div>
</nav>