<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!--%var Server = require(__dirname + "/Server.js");%-->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Expressionary</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/developer">Updates</a></li>
			<li><a href="/wordlist">Word List</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/random">Random Word</a></li>
			<%var loggedin = false;%>
			<%if(!loggedin){%>
			<li><a href="/register">Register</a></li>
			<li><button onclick="document.getElementById('id1').style.display='block'"
						style="width:auto;">Login
				</button>
			</li>
			<%}else{%>
            <li><a href="/user">TEMP username</a></li>
			<li><a action="/logout" style="width:auto;">Logout</a></li>
			<%}%>
		</ul>
		<div id="id1" class="modal">
			<form class="modal-content animate" action="/action_page.php">
				<div class="container">
					<label for="uname"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="uname" required>

					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="psw" required>

					<button type="submit">Login</button>
					<label>
						<input type="checkbox" checked="checked" name="remember"> Remember me
					</label>
				</div>

				<div class="container" style="background-color:#f1f1f1">
					<button type="button" onclick="document.getElementById('id1').style.display='none'" class="cancelbtn">Cancel</button>
					<span class="psw">Forgot <a href="#">password?</a></span>
				</div>
			</form>
		</div>
		<script>
            // Get the modal
            var modal = document.getElementById('id1');
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
		</script>
	</div>
</nav>