<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Expressionary</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/developer">Developer's Updates</a></li>
			<li><a href="/random">Random Word</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/wordlist">Word List</a></li>
		</ul>

	</div>

</nav>