<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:20px;">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" href="/">Home</a></li>
                <li class="active"><a href="#">About us<span class="sr-only">(current)</span></a></li>
                <li><a class="nav-link" href="javascript:void(0)" onclick="loadContact()">Contact us</a></li>
                <script>
                    function loadContact() {
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                document.getElementById("test1").innerHTML =
                                    this.responseText;
                            }
                        };
                        xhttp.open("GET", "contact", true);
                        xhttp.send("contact");
                    }
                </script>
            </ul>
        </nav>
    </div>
    <br/>
    <div class="jumbotron" style="padding-left:25px;">
        <p>
            Welcome to Expressionary!<br><br>
            We at Team 21 are happy to bring you the latest social gaming website, where you'll compete<br>
            with people from around to world to create the best definitions for the greatest words!<br><br>
            Dogs are now the world's greatest fluffers that are 100% biorenewable.<br>
            Tables are now a place where families awkwardly stare at each other while partaking in the flesh of the dead.<br>
            And Dihydrogen Monoxide is the greatest chemical threat to mankind since the dawn of human history.<br>
            Definitions are changed in an instant, then decided upon by you, the User. <br>
            The only limit is your imagination (or other User's lack of humor). <br><br>
            Good luck, and have fun!
        </p>
    </div>
</div>
</body>
</html>