<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:20px;">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="javascript:void(0)" onclick="loadAbout()">About us</a></li>
                <script>
                    function loadAbout() {
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                document.getElementById("test1").innerHTML =
                                    this.responseText;
                            }
                        };
                        xhttp.open("GET", "about", true);
                        xhttp.send("about");
                    }
                </script>
                <li><a class="nav-link" href="javascript:void(0)" onclick="loadContact()">Contact us</a></li>
                <script>
                    function loadContact() {
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                document.getElementById("test1").innerHTML =
                                    this.responseText;
                            }
                        };
                        xhttp.open("GET", "contact", true);
                        xhttp.send("contact");
                    }
                </script>
            </ul>
        </nav>
    </div>
    <br/>
    <div class="row" id="WordID" style="padding-left:25px;">WordIdNotFound</div>
    <div class="jumbotron" id="Definition" style="padding-left:10px;">
        <p>
            Something has gone wrong. (WordDefinition not found)
        </p>
    </div>
</div>
<p>Current Score: <span id="wordScore">0</span></p>
<input type="button" value="+" id="increment" onclick="upVote()" title="unpressed" style.background="white"/>
<script>
    function upVote(){
        if(document.getElementById("increment").title == "pressed"){
            document.getElementById("wordScore").textContent--;
            document.getElementById("increment").title = "unpressed";
            document.getElementById("increment").style.background='white';
        }else{
            if(document.getElementById("decrement").title == "pressed"){
                document.getElementById("wordScore").textContent++;
                document.getElementById("decrement").title = "unpressed";
                document.getElementById("decrement").style.background='white';
            }
            document.getElementById("wordScore").textContent++;
            document.getElementById("increment").title = "pressed";
            document.getElementById("increment").style.background='blue';
        }
    }
</script>
<input type="button" value="-" id="decrement" onclick="downVote()" title="unpressed" style.background="white"/>
<script>
    function downVote(){
        if(document.getElementById("decrement").title == "pressed"){
            document.getElementById("wordScore").textContent++;
            document.getElementById("decrement").title = "unpressed";
            document.getElementById("decrement").style.background='white';
        }else{
            if(document.getElementById("increment").title == "pressed"){
                document.getElementById("wordScore").textContent--;
                document.getElementById("increment").title = "unpressed";
                document.getElementById("increment").style.background='white';
            }
            document.getElementById("wordScore").textContent--;
            document.getElementById("decrement").title = "pressed";
            document.getElementById("decrement").style.background='red';
        }
    }
</script>
<br><br><br>
<div>Post your own definition:</div>
<form class="form-horizontal" role="form" style="width: 50%;" action="http://localhost:3000/word" method="post">
    <div class="form-group">
        <!--<label for="Def" class="col-sm-2 control-label">Definition:</label>-->
        <label for="message" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-10">
            <textarea type = "text" class="form-control" rows="3" id="message" name="mes"></textarea>
        </div>

        <!--<div class="form-group">-->
            <!--<label for="name" class="col-sm-2 control-label">Name</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        </div>
    </div>
</form>
</body>
</html>