<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

<header>
    <% include ../partials/header %>
</header>
<div class="jumbotron" style="background: rgb(232,232,232)">

<h1>Developer's Updates</h1>
<h2>Update #1 - 2/21/2018</h2>
<p>We are currently a couple days out from finishing sprint 1. This will have most of our framework for the project. We look forward to expanding!</p>
</div>

</body>
</html>