<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">

				<h2 class="mt-2">Join our Newsletter</h2>
				<div class="form-group">
					<label for="email" class="col-sm-1 control-label">Email:</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
					</div>
				</div>
				<p>
					<br>
					<br>
					<a class="btn btn-primary btn-lg" href="#">Sign up &raquo;</a>
				</p>

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>