<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <div class="col-md-3">
            <form class="navbar-form" role="search" action="http://localhost:8080/search" method="post" >
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Search" name="search" id="search" type="text">
                    <button class="btn btn-default" type="submit">Search <i class="glyphicon glyphicon-search"></i></button>

                </div>

        </div>

        <input type="radio" id="searchType" name="searchType" value="User">
        <label for="searchUser">User</label>
        <input type="radio" id="searchType" name="searchType" value="Word">
        <label for="searchWord">Word</label>
        </form>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>