<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<div class="tab">
    <button class="tablinks" style="width:auto;" onclick="openTab(event, 'sug')">Suggest a Word</button>
    <button class="tablinks" style="width:auto;" onclick="openTab(event, 'sugi')">Suggest an Image</button>
    <button class="tablinks" style="width:auto;" onclick="openTab(event, 'sugged')">Vote on Suggestions</button>
</div>
<form id="sug" role="form" class="tabcontent" action="http://localhost:8080/wsuggest" method="post">
    <textarea class="form-control" rows="1" id="suggested" name="suggested" placeholder="Suggest a word here..."></textarea>
    <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
</form>
<form id="sugi" role="form" class="tabcontent" action="http://localhost:8080/isuggest" method="post">
    <form action="imageUp.php" method="POST" enctype="multipart/form-data">
        Select an image to suggest(PNG. JPG, JPEG only): <input type="file" id="sugImage" accept=".png, .jpg, .jpeg" name="sug_img" required>
        <input type="submit" value="Upload">
    </form>
</form>
<form id="sugged" role="form" class="tabcontent" action="http://localhost:8080/isuggest" method="post">
    Nothing so far!
</form>
<script>
    function openTab(evt, boardContent){
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for(i = 0; i < tabcontent.length; i++){
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(boardContent).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>