<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<p><%= word %></p>
<ol>

    <li> <%= posts[0].definition%></li>


</ol>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>