<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <form class="form-horizontal" role="form" style="width: 50%;" action="http://localhost:8080/appendix" method="post">
            <%wordPages.sort(function(a, b){%>
            <%if(a.word < b.word) return -1;%>
            <%if(a.word > b.word) return 1;%>
            <%return 0;%>
            <%});%>
            Words:
            <ul>
                <% var i = 0; %>
                <%while (i < wordPages.length) { %>
                <input id="word" name="word" type="submit" value="<%= wordPages[i].word %>" class="btn btn-primary">
                <br>
                <% i++ }%>
            </ul>
            <%users.sort(function(a, b){%>
            <%if(a.username < b.username) return -1;%>
            <%if(a.username > b.username) return 1;%>
            <%return 0;%>
            <%});%>
            Users:
            <ul>
                <% var i = 0;%>
                <% while (i < users.length){%>
                <input id="user" name="user" type="submit" value="<%=users[i].username%>" class="btn btn-primary"><img width="35" height="35" allign="left" src="http://localhost:8080/images/profImage/<%=users[i].profile_img%>" class="img-responsive">
                <br>
                <%i++ }%>
            </ul>
        </form>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>