<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<p><%= word %></p>
<ol>
    <% var len = definitions.length;%>
    <%for (var i = 0; i < len; i++) {%>
    <li><%= i%> <%= definitions[i]%></li>
    <%}%>

</ol>
</body>
</html>