<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<h2><%= word %></h2>
<ol>

    <li>
        <% var i = 0; %>
        <%while (i < posts.length) { %>
        User: <%= posts[i].username %><br>
        Definition: <%= posts[i].definition %><br>
        Points: <%= posts[i].points %>
        <% i++ }%>

    </li>


</ol>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>